<!doctype html>
<html>

%head%

<body class="flex flex-col font-(family-name:--source-code-font-family)" style="min-height: 100vh;">
  <div class="has-checked:hidden">
    <div class="p-1 bg-red-800 justify-center flex">
      <p class="ml-10 flex-grow">this site is still under construction, some parts might not work or be missing</p>
      <label class="items-center flex hover:invert checked:invert mr-15">
        <input class="dropdown-button hidden peer group" type="checkbox">
        <svg class="peer-checked:rotate-180 transition" width="12" height="12" viewBox="0 0 9.282 5.034"
          fill="currentColor">
          <path
            d="M4.64116,4.89817a.5001.5001,0,0,1-.34277-.13574L.15727.86448A.50018.50018,0,0,1,.84282.136L4.64116,3.71165,8.44.136a.50018.50018,0,0,1,.68555.72852L4.98393,4.76243A.5001.5001,0,0,1,4.64116,4.89817Z">
          </path>
        </svg>
      </label>
    </div>
  </div>

  %nav%
  %main%
  %footer%
</body>

</html>
