<header>
  <div class="navbar bg-base-100 shadow-sm border-3 border-base-300 rounded-lg">
    <div class=" ">
      <a class="btn btn-ghost text-xl text-base-content" href="/">0x10f7c7</a>
    </div>
    <div class="breadcrumbs text-sm flex-1 pl-10">
      <ul>
        <li><a href="/">/</a></li>
        %path%
      </ul>
    </div>
    <div class="flex-none jetbrains-font">
      <ul class="menu menu-horizontal px-1">
        <li><a class="hover:bg-base-300 hover:text-black" href="/projects">/projects</a></li>
        <li><a class="hover:bg-base-300 hover:text-black" href="/collections">/collections</a></li>
      </ul>
    </div>
  </div>
</header>
